echo "<h1>Hello world!</h1>" > views/index.ejs
<html>
  <head>
    <title>GAChat with web sockets</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>GAChat v2</h1>
    <p class="connecting">Please wait, connecting to server...</p>
    <form action="#">
    <input id="nick" type="text" placeholder="Enter your name" disabled="disabled" />
      <ul class="chatlines">
      </ul>
      <input type="text" id="text" placeholder="Enter text here" disabled="disabled"/>
      <input type="submit" value="Speak!" disabled="disabled" />
    </form>
  </body>

</html>